<% include ./partials/header %>

<div class="ui main text container segment">

    
    
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>">
            <div class="content">
                 <span><%= post.created.toDateString() %></span>
            </div>
            <div class="discription">
                <p> <%= post.body %> </p>
            </div>
            <div class="buttons">
                <a class="ui big blue basic button" href="/posts/<%= post._id%>/edit">Edit</a>
                <form id="delete" action="/posts/<%= post._id%>?_method=DELETE"method="POST">
                    <button class="ui big red basic button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    
    
    
</div>

<% include ./partials/footer %>